#projsImgCont-1 {
  margin: 0 auto;
  padding: 10px auto;
  width: 70%;
  text-align: center;
  box-shadow: 0 3px 9px 0 rgba(157, 180, 138, 0.252), 0 7px 15px 0 rgba(164, 197, 142, 0.263);
  background-color: lightgray;
}

#projsImg-1 {
  display: block;
  margin: 10px auto;
  max-width: 30%;
  height: auto;
  box-shadow: 0 3px 9px 0 rgba(157, 180, 138, 0.252), 0 7px 15px 0 rgba(164, 197, 142, 0.263);
}

#projsImg-1-label {
  text-align: center; 
  padding: 8px 15px;
  background-color: rgb(172, 219, 204);
}

