* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: lightgray;  
  height: 100vh;
}

.nav-menu {
  font-family: serif;
}

.nav-menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.nav-menu ul li {
  width: 20%;
}

.nav-menu ul li > ul {
  display: none;
  flex-direction: column;
}

.nav-menu ul li > ul li {
  width: 100%;
}

.nav-menu ul li:hover > ul {
  display: flex;
}

.nav-menu a {
  text-transform: uppercase;
  display: block;
  background-color: lightblue;
  padding: 13px;
  color: beige;
  text-decoration: none;
  text-align: center;  
}

.nav-menu a:hover {
  background: #e62161;
  color: #dddddd;  
}

.nav-menu .drop-navbar li > a {
  background-color: #564978;
  color: dddddd;  
}

.nav-menu .drop-navbar li > a:hover {
  background: #e62161;
}

.nav-menu .drop-navbar > a:after {
  content: "+";
  padding: 13px;
}

#logoCompan {
  display: flex;
  margin: auto;
  padding: 5px;      
  flex-wrap: wrap;
  max-width: 120px;
  min-width: 90px;
  width: 20%;  
}  


@media (max-width: 726px) {
  .nav-menu ul li {
    width: 100%;
  }
}
